<footer id="footer">
    <div class="newsletter-section"></div>
    <div class="footer-container">
        <div class="footer-card">
            <h3 class="hidden-sm-down">
                Nuestra Empresa
            </h3>
            <p class="address">
                <strong>
                    <span>Direccion: </span>
                </strong>
                <span>Juan Manuel de Rosas 12825, Gregorio de Laferrer, Argentina.</span>
            </p>
            <p class="email">
                <strong>
                    <span>Mail: </span>
                </strong>
                <span>castanolagustin@gmail.com</span>
            </p>
            <p class="phone">
                <strong>
                    <span>Telefono: </span>
                </strong>
                <span>011458766</span>
            </p>
        </div>

    </div>
    </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>