<header id="header">
    <div class="header-nav">
        <div id="_desktop_user_info">
            <div class="user-info">
                <a style="text-decoration:none ; color:black" href="ingreso.html" rel="no follow">Iniciar sesión</a>
            </div>
        </div>
        <div>
        <a href="/carrito">🛒</a>
        </div>
    </div>

    <div class="header-top">
        <div class="logo">
            <a href="pagina principal.html">
                <img src="../img/La clarita.png" alt="La Clarita">
            </a>
        </div>
        <div class="serch-widget">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Ir</button>
            </form>
        </div>
    </div>
    <div class="top-navigation-menu">
        <ul class="top-menu">
            <a class="item-nav" href="">
                <span>Condimentos</span>
            </a>
            <a class="item-nav" href="">
                <span>Condimentos</span>
            </a>
            <a class="item-nav" href="">
                <span>Reposteria</span>
            </a>
            <a class="item-nav" href="snacks dulces.html">
                <span>Snack Dulce</span>
            </a>
            <a class="item-nav" href="">
                <span>Snack Salado</span>
            </a>
            <a class="item-nav" href="">
                <span>Prod. Saludables</span>
            </a>
            <a class="item-nav" href="">
                <span>Aderezos</span>
            </a>
            <a class="item-nav" href="">
                <span>Golosinas</span>
            </a>
        </ul>
    </div>
</header>