<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../public/css/pagina principal.css">
    <link rel="stylesheet" href="../../public/css/main.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">



    <title>Pagina Principal</title>
    
    <STYLE>
        A {
            text-decoration: none;
        }
    </STYLE>
</head>

<body>

    <header id="header">
        <div class="header-nav">
            <div id="_desktop_user_info">
                <div class="user-info">
                    <a style="text-decoration:none ; color:black" href="ingreso.html" rel="no foloww">Iniciar sesión</a>
                </div>
            </div>
        </div>

        <div class="header-top">
            <div class="logo">
                <a href="pagina principal.html">
                    <img src="../img/La clarita.png" alt="La Clarita">
                </a>
            </div>
            <div class="serch-widget">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Ir</button>
                </form>
            </div>
        </div>
        <div class="top-navigation-menu">
            <ul class="top-menu">
                <a class="item-nav" href="">
                    <span>Condimentos</span>
                </a>
                <a class="item-nav" href="">
                    <span>Condimentos</span>
                </a>
                <a class="item-nav" href="">
                    <span>Reposteria</span>
                </a>
                <a class="item-nav" href="snacks dulces.html">
                    <span>Snack Dulce</span>
                </a>
                <a class="item-nav" href="">
                    <span>Snack Salado</span>
                </a>
                <a class="item-nav" href="">
                    <span>Prod. Saludables</span>
                </a>
                <a class="item-nav" href="">
                    <span>Aderezos</span>
                </a>
                <a class="item-nav" href="">
                    <span>Golosinas</span>
                </a>
            </ul>
        </div>
    </header>
    <div class="image-slider-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="pagina principal.html">
                                    <img src="../img/BANNER_VENTA.jpg" class="d-block w-100">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="">
                                    <img src="../img/BANNER_PIPIQQ.jpg" class="d-block w-100">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="">
                                    <img src="../img/BANNER_AROMAS.jpg" class="d-block w-100">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="pagina principal.html">
                                    <img src="../img/BANNER_LACLARITA.jpg" class="d-block w-100">
                                </a>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer id="footer">
        <div class="newsletter-section"></div>
        <div class="footer-container">
            <div class="footer-card">
                <h3 class="hidden-sm-down">
                    Nuestra Empresa
                </h3>
                <p class="address">
                    <strong>
                        <span>Direccion: </span>
                    </strong>
                    <span>Juan Manuel de Rosas 12825, Gregorio de Laferrer, Argentina.</span>
                </p>
                <p class="email">
                    <strong>
                        <span>Mail: </span>
                    </strong>
                    <span>castanolagustin@gmail.com</span>
                </p>
                <p class="phone">
                    <strong>
                        <span>Telefono: </span>
                    </strong>
                    <span>011458766</span>
                </p>
            </div>

        </div>
        </div>
        </div>
    </footer>




    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
</body>

</html>